* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Average Sans", sans-serif;
  }

  html {
      scroll-behavior: smooth;
  }
  
  main {
    display: block;
  }
  
  header {
    width: 100%;
    background: rgb(124, 124, 124);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .header:nth-child(1) {
      align-self: center;
  }

  .dropbtn {
    background-color: rgb(80, 170, 81);
    color: white;
    padding: 0 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
   

  }

  .dropbtn::after {
    content: "\f078";
    font-family: FontAwesome;
    line-height: 50px;
    color: rgb(187, 170, 170);
    padding-left: 10px;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;    
    list-style: none;
  

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(192, 189, 189 0.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    z-index: 1;
    border-radius: 3px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  

  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}





  #home img {
      width: 35vh;
      display: flex;
      margin: 20px;
      border-radius: 5px;
      border: solid 1px black;
      

  }

.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 20px;
}


  .hero::before {
    background-image: url("https://source.unsplash.com/VWcPlbHglYc");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
  }

  .hero::after {
      background-color: rgb(46, 141, 117);
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.4; 

  }

.about {
  padding: 3rem;

  }
  
.slider-wrapper {
    position: relative;
    overflow: hidden; /* oversize parts of child elements will be hidden */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background: whitesmoke;

}


/* End of image slider */


.slider__photo {
    opacity: 0; 
    position: absolute; 
    top: 0;
    width: 60%; 
    margin: auto; /* this keeps things centered */
    padding: 1rem 4rem;
    z-index: 100; 
    transition: transform .2s, opacity .2s, z-index .2s;
    display: flex;
    justify-content: center;
}

.slider__photo.initial,
.slider__photo.active {
  opacity: 1; /* only elements with active and initial classes will be visible */
  position: relative;
  z-index: 900;
}

.slider__photo.prev,
.slider__photo.next {
  z-index: 800;
}
.slider__photo.prev {
  transform: translateX(-100%); 
}
.slider__photo.next {
  transform: translateX(100%);
}

/* Styling for the prev and next buttons */
.slider__button--prev,
.slider__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-10%);
  border-radius: 5%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
  margin: 20px;
}
.slider__button--prev {
  left:0;
  opacity: 0.4;
  transition: 0.3s;
}
.slider__button--next {
  right:0;
  opacity: 0.4;
  transition: 0.3s;
}
.slider__button--prev::after,
.slider__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
  
}
.slider__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slider__button--next:hover,
.slider__button--prev:hover {
  opacity: 1;
  background: rosybrown;
 
}
  
footer {
  background: grey;
  color: white;
  height: 100%;

   
} 

.contact img {
    width: 40vw;
    padding-left: 20px;
     
}

.contact {
  display: flex;
 justify-content: center;
 flex-direction: row-reverse;
  line-height: 1.5rem;
  padding: 40px;
 
  
} 

.contact p {
   margin-top: 2rem;
}

.contact a {    
  color: rgb(113, 238, 145);
  text-decoration: none;

}

.contact a:hover {
  text-decoration: underline;

}

.scroll-top-btn {
  display: inline-block;
  background-color: #99f599;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
  right: 30px;
  width: 50px;

}
.scroll-top-btn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: rgb(187, 170, 170);
}

.scroll-top-btn:hover {
  cursor: pointer;
  background-color: rgb(2, 85, 16);
}
.scroll-top-btn:active {
  background-color: rgb(2, 85, 16);
}