* {
    margin: 0;
    padding: 0;
  }
  .header {
    display: flex;
    background-color: black;
    padding: 0;
  }
  .logo {
    color: cornsilk;
  }
  .container {
    
    height: 200px;
    width: auto;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .slider {
    width: 90%;
    height: 400px;
    box-shadow: 10px 5px 5px grey;
    margin-left: 50px;
    margin-right: 50px; 
      
  }
  
  img {
    width: 90%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
   
  }
  .text {
    color: black;
    margin-left: 30px;
  }
  .btn-readMore {
    color: darkcyan;
    margin-left: 30px;
    padding-top: 2rem;
  }
  #section {
    height: auto;
    max-width: 100%;
    background: #333;
    position: relative;
  }
  #section-a {
    display: flex;
  }

 
  .image2{
    margin-left: 50px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
  }

  ul {
    margin-left: 2rem;
  }
  .text1 {
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .text3 {
    margin-left: 20px;
  }
  .fonts {
    border: 1px solid rgba(255, 255, 255, 0.021);
    border-collapse: separate;
    display: flex;
    padding: 10px;
    margin: 15px;
  }
  .fonts1 {
    margin-right: 10px;
    background: rgba(255, 255, 254, 254);
    text-align: center;
    padding: 30px;
  }
  .fonts2 {
    margin-right: 10px;
    background: rgba(255, 255, 254, 254);
    text-align: center;
    padding: 30px;
  }
  .fonts3 {
    margin-right: 10px;
    background: rgba(255, 255, 254, 254);
    text-align: center;
    padding: 30px;
  }
  .fonts4 {
    margin-right: 10px;
    background: rgba(255, 255, 254, 254);
    text-align: center;
    padding: 30px;
  }
  .footer {
    background: black;
    color: #fff;
    display: flex;
    margin-bottom: 20px;
  }
  .text4 {
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
  }
  .text5 {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 100px;
  }
  .contact {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
  }


  .fixed-button {
    display: inline-block;
    background-color: rgb(0, 174, 255);  
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;   
    transition: background-color .3s;
    z-index: 1000;
}

.scroll-top-btn {
    right: 30px;
    width: 50px;
}

.scroll-top-btn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}


  
body {
      background: wheat;
  }
  @media screen and (min-width: 250px) {
      body {
          background: green;
      }
  }
  @media screen and (min-width: 500px) {
      body {
          background: blueviolet;
      }
  }
  @media screen and (min-width: 750px) {
      body {
          background: yellowgreen;
      }
  }
  @media screen and (min-width: 1000px) {
      body {
          background: papayawhip;
      }
  }
  